
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.game{
    width: 700px;
    height: 500px;
    background-color: beige;
}
.forca{
    position: relative;
}

.forca_elementos {
    width: 150px;
    height: 10px;
    background: black;
    position: absolute;
}

.chao{
    top: calc(500px * 0.75);
    left: 35px;
    width: 200px;
}

.poste{
    transform: rotate(90deg);
    top: calc(500px * 0.50);
    left: 15px;
    width: 255px;
}

.apoio{
    top: 120px;
    left: 105px;
    width: 250px;
}

.garra{
    transform: rotate(90deg);
    top: 145px;
    left: 315px;
    width:55px;

}

.boneco{
    position: relative;
}
.boneco_partes{
    position:absolute;
}
.aparecer{
    border: 2px solid black;
}

.cabeca{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    top: 175px;
    left: 317px;
}

.tronco{
    transform: rotate(90deg);
    top: calc(500px * 0.54);
    left: 295px;
    width: 90px;
}

.braco_esquerdo{
    width: 30px; 
    left: 343px;
    top: calc(500px * 0.50);
}
.braco_direito{
    width: 30px; 
    left: 310px;
    top: calc(500px * 0.50);
}

.perna_esquerda{
    width: 50px; 
    transform: rotate(60deg);
    top: calc(500px * 0.67);
    left: 327px;
}

.perna_direito{
    width: 50px; 
    transform: rotate(-60deg);
    top: calc(500px * 0.67);
    left: 300px;
}
.palavra{
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    font-weight: bold;
}
.palavra span{
    border-bottom: 3px solid black;
    margin: 0 3px;
    display: block;
    height: 2.5rem;
    width: 1rem;
}
.teclado{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    padding: 15px 0;
}

.linha{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.first{
    margin: 0 9%;
}
.second{
    margin: 0 15%;
}
.third{
    margin: 0 21%;
}

.btn{
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    width: 2rem;
    padding: 2px;
}

.palavraCorreta{
    background-color: rgb(98, 163, 0);
    color: white;
}

.palavraErrada{
    background-color: rgb(255, 99, 99);
    color: white;
}